.edit-search-name {
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    /* identical to box height, or 120% */


    color: #7E50A7 !important;
}

.edit-serach-label {
    font-family: 'Poppins' !important;

    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    /* identical to box height */


    color: #383838 !important;
}

.filter-btn {
    max-width: 13em;

}

/* select2 checkbox filters */

.select2-container {
    /* min-width: 400px; */
}

.select2-results__option {
    padding-right: 20px;
    vertical-align: middle;
}

.select2-results__option:before {
    content: "";
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border: 2px solid #e9e9e9;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 6px;
    vertical-align: middle;
}

.select2-results__option[aria-selected=true]:before {
    font-family: fontAwesome;
    content: "\f00c";
    color: #fff;
    background-color: var(--purple);
    border: 0;
    display: inline-block;
    padding-left: 3px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eaeaeb;
    color: #272727;
}



.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 4px;
    width: min-content;
}   
span.select2.select2-container.select2-container--default {
    width: min-content !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #f77750;
    border-width: 2px;
}

#edit-search .select2-container--default .select2-selection--multiple {
    border-width: 2px;
}

.select2-container--open .select2-dropdown--below {

    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

#edit-search .select2-selection .select2-selection--multiple:after {
    content: 'hhghgh';
}

/* select with icons badges single*/
.select-icon .select2-selection__placeholder .badge {
    display: none;
}

.select-icon .placeholder {
    display: none;
}

.select-icon .select2-results__option:before,
.select-icon .select2-results__option[aria-selected=true]:before {
    display: none !important;
    /* content: "" !important; */
}

/* ====== */
.select-icon .select2-search--dropdown {
    display: none;
}

ul.select2-selection__rendered {
    border: 1px solid rgb(0 0 0 / 10%) !important;
}

span.select2-selection.select2-selection--multiple {
    border: none !important;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0px !important;
}

.select2-selection__choice {
    padding: 0px !important;
    vertical-align: middle !important;
    align-items: center !important;
    font-size: 16px !important;
    margin: 8px 0px !important;
    background: unset !important;
    border: unset !important;
    color: white !important;
}



li.select2-search.select2-search--inline {
    display: flow-root !important;
}

.select2-search__field {

    float: left !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 7px !important;
    margin-right: 11px !important;
    font-size: 16px !important;
    color: white !important;
}

ul.select2-selection__rendered {
    border: 1px solid #7E50A7 !important;
    border-radius: 35px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 15px !important;
    text-align: center !important;
    color: #7E50A7 !important;
    padding-left: 11px !important;
    padding: 0px 18px !important;
}

.select2-search__field::placeholder {
    color: #7E50A7 !important; opacity: 1;
}

.search-pop-h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 36px;
}

.time-search {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

.archive-btn {
    width: 182px !important;
    height: 44px !important;
    left: 497px !important;
    top: 698px !important;

    background: #F3EEF7 !important;
    border-radius: 35px !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 22px !important;
    /* identical to box height */

    text-align: center !important;

    color: #7E50A7 !important;
}

.select2-container {
    /* min-width: 174px !important; */
    /* max-width: fit-content !important; */
}
.span.select2-dropdown{
    width: auto !important;
}

.search-update-btn {
    width: 182px !important;
    height: 44px !important;
    left: 497px !important;
    top: 698px !important;

    background: #7E50A7 !important;
    border-radius: 35px !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 27px !important;
    color: #FFFFFF !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
background-color: #7E50A7 !important;
color: white !important;
}

.select2-container--open ,span.select2-dropdown{
    z-index: 99 !important;
}

.modal button.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    border: none;
    background: none;
}



    /* .select2-search {
position: relative;
display: inline-block;
padding-right: 20px;
}

.select2-search::after {
content: "";
position: absolute;
top: 50%;
right: 0;
transform: translateY(-50%);
border: solid #7E50A7;
border-width: 0 2px 2px 0;
padding: 3px;
pointer-events: none;
transform: rotateZ(36deg) !important;


margin-top: -7px !important;
margin-right: 6px !important;
} */

[slider__] {
    width: 300px;
    position: relative;
    height: 5px;
    margin: 45px 0 10px 0;
}

[slider__]>div {
    position: absolute;
    left: 13px;
    right: 15px;
    height: 5px;
}

[slider__]>div>[inverse-left] {
    position: absolute;
    left: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
}

[slider__]>div>[inverse-right] {
    position: absolute;
    right: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
}


[slider__]>div>[range] {
    position: absolute;
    left: 0;
    height: 5px;
    border-radius: 14px;
    background-color: #7E50A7;
}

[slider__]>div>[thumb] {
    position: absolute;
    top: -7px;
    z-index: 2;
    height: 20px;
    width: 20px;
    text-align: left;
    margin-left: -11px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    background-color: #FFF;
    border-radius: 50%;
    outline: none;
}

[slider__]>input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 14px;
    top: -2px;
    width: 100%;
    opacity: 0;
}

div[slider__]>input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent;
}

div[slider__]>input[type=range]:focus {
    outline: none;
}

div[slider__]>input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: #7E50A7;
    -webkit-appearance: none;
}

div[slider__]>input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none;
}

div[slider__]>input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0 none;
}

div[slider__]>input[type=range]::-ms-tooltip {
    display: none;
}

[slider__]>div>[sign] {
    opacity: 1;
    position: absolute;
    margin-left: -11px;
    top: -39px;
    z-index: 3;
    background-color: #7E50A7;
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

[slider__]>div>[sign]:after {
    position: absolute;
    content: '';
    left: 0;
    border-radius: 16px;
    top: 19px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top-width: 16px;
    border-top-style: solid;
    border-top-color: #7E50A7;
}

[slider__]>div>[sign]>span {
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
}

[slider__]:hover>div>[sign] {
    opacity: 1;
}

.dd_year_of_exp {
    border: 1px solid #7E50A7 !important;
    border-radius: 35px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 15px !important;
    text-align: center !important;
    color: #7E50A7 !important;
    padding-left: 8px !important;
    text-align: left !important;
}
.dd_year_of_exp-dist {
    border: 1px solid #7E50A7 !important;
    border-radius: 35px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 15px !important;
    text-align: center !important;
    color: #7E50A7 !important;
    padding-left: 8px !important;
    text-align: left !important;
}

span.select2-selection__clear {
    padding-right: 13px !important;
    
}

.selecedItems {
    max-height: 39px;
    border-radius: 22px;
    /* padding: 0px !important; */
    /* vertical-align: middle; */
    padding: 3px !important;
    padding-left: 10px !important;
    color: white !important;
}
.dd_year_of_exp {
    text-wrap: nowrap;
}
.select2-select2-selection__clear_range{
    margin-top: 7px !important;
    margin-right: 11px !important;
    font-size: 16px !important;
    color: white !important;
}
.select2-selection__clear_range i{
    font-size: 12px !important;
}
.dd_year_of_exp{
    border: 1px solid #7E50A7 !important;
    border-radius: 35px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 15px !important;
    text-align: center !important;
    padding-left: 11px !important;
    padding: 0px 18px !important;
    /* min-width: 178px !important; */
    max-width: fit-content !important;
    
}
.dd_year_of_exp-dist{
    border: 1px solid #7E50A7 !important;
    border-radius: 35px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 15px !important;
    text-align: center !important;
    padding-left: 11px !important;
    padding: 0px 18px !important;
    /* min-width: 178px !important; */
    max-width: fit-content !important;
    
}
.range-text{
   float: left !important;
   margin-right: 16px;
    
}

.col.filter-col-box{
    padding: 0px;
}
button#dropdownMenuButtonInd {
text-align: left !important;
}

.selectedItem span.select2-selection__choice {
    margin-right: 22px !important;
}

button#dropdownMenuButtonInd {
    text-align: left !important;
    line-height: 20px !important;
    height: 37px;
    margin-top: 3px !important;text-wrap: nowrap;
}
.select2-dropdown.hide{
    display: none !important;
}

.industries-container .select2-search{
   min-width: 74px;
}
.h-skill-container .select2-search{
   min-width: 81px;
}

.s-skill-container .select2-search{
    min-width: 75px;
 }
.c-p-container .select2-search{
    min-width: 153px
 }
.s-p-container .select2-search{
    min-width: 156px
 }
.salary-range-container .select2-search{
    min-width: 100px
 }
.schedule-container .select2-search{
    min-width: 71px
 }
.compensation-container .select2-search{
    min-width: 145px
 }
.interest-container .select2-search{
    min-width: 123px
 }
.work-environment-container .select2-search{
    min-width: 95px;
 }
.languages-container .select2-search{
    min-width: 83px
 }

span.select2-selection__choice {
    margin-right: 12px !important;
}

.cut-range,.cut-range-dist{
    color: var(--purple);
}

@media only screen and (max-width: 767px) {
    .search-update-btn{width: auto !important;}
    
}
